$viewWidth:100vw;
$viewHeight:100vh;
$blur:blur(10px);
$border:1px solid rgba(255, 255, 255, 0.2);
$background:rgba(255, 255, 255, 0.4);
$flex:1 1;
$yellowishColor:#FFEB94;
$blueColor:#265FAE;
$greyishColor:#f8f8f8;