@import "./variable";
@import "./mixins";
.Login {
  background-color: $yellowishColor;
  width: 100vw;
  height: 100vh;
  flex: 1 1;
  font-family: "Mukta", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  &__box {
    width: 40.0625rem;
    border: $border;
    backdrop-filter: $blur;
    background: $background;
    border-radius: 22px;
    flex-direction: column;
    margin-right: 14rem;
    span {
      display: block;
    }
    .horizontal__line {
      display: block;
      border: 2px solid #b7b4b4;
      width: 90%;
      background-color: #b7b4b4;
    }
    .username__field,
    .password__field {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 4rem;
      margin-top: 1rem;
      font-weight: 400;
      font-size: 1.875rem;
      input {
        width: 89%;
        height: 3%;
        font-size: 2.25rem;
        border-radius: 1rem;
        border: 2px solid grey;
      }
      input:focus {
        outline: none;
      }
    }
    .role__field {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 4rem;
      & > span:first-child {
        font-weight: 400;
        font-size: 1.875rem;
      }
      span{
        display: inline;
        font-size: 1.4375rem;
        font-weight: 100;
      }
      input{
        display: inline;
        // margin-bottom: 1rem;
        margin-right: 1rem;
        zoom: 1.3;
      }
    }
  }
  &__button{
    width: 100%;
    padding: 1rem;
    button{
      width: 57%;
      font-size: 1.7rem;
      border-radius: 1.9375rem;
      border: none;
      background-color: #265FAC;
      color: white;
      padding: 1rem 0;
      &:hover{
        cursor: pointer;
      }
    }
  }
  &__image {
    img {
      @include imageWidthAndHeight();
    }
  }
}
